
  .heading {
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    padding-left: 10px;
    position: -webkit-sticky;
    position: sticky;
    text-align: right;
    top: 0px;
}

.content {
    height: 300px;
    background: ;
}
